.css-modal-checkbox-container {
    height: fit-content;
    display: block;
}
/* Убираем флажок */
#css-modal-checkbox {
    display: none;
}
/* Кнопка для открытия */
.css-modal-checkbox {
    display: inline-flex;
    margin-top: 1.875em;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 70px;
    padding: 0 3.2em;
    color: #FFF;
    font-family: 'MontserratMedium';
    background: #ffd909;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    z-index: 1;    
    border-radius: 35px;
}
.css-modal-checkbox:hover,
.css-modal-checkbox:active,
.css-modal-checkbox:focus {
    background: #ff8a48;
    transition: 0.5s;
}
 
/* Контейнер, который затемняет страницу */
#css-modal-checkbox + .cmc {
    display: none;
}
#css-modal-checkbox:checked + .cmc {
    display:flex;
    align-items:center;
    justify-content:center;    
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(255, 138, 72, 0.7);
}
 
/* Модальное окно */
#css-modal-checkbox:checked + .cmc .cmt {
    font-family: 'MontserratBold';  
    font-size: 16px;
    padding: 50px 20px;
    width: 80%;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    box-sizing: border-box;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}
/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    top: 200px;
    right: 10%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: #fff;
    background-size: cover;
    animation: move 0.5s ease;
    cursor: pointer;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #ff8a48;
}
.css-modal-close:hover {
    color: #fff;
    background-color: #ffd909;
    transition: 0.5s;
}
 
/* Анимации */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes move {
    0% {
        right: -80px;
    }
    100% {
        right: 10%;
    }
}
@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }
    100% {
        background: rgba(255, 138, 72, 0.7);
    }
}
