@font-face {
    font-family: 'Bitter';
    src: url(fonts/Bitter-ExtraBold.ttf);
}
@font-face {
    font-family: 'Architun';
    src: url(fonts/Architun.ttf);
}
catalog {
    margin: 10px;
    background-color: #ff8a48;
}
catalog::-webkit-scrollbar {
    width: 12px;
}
catalog::-webkit-scrollbar-track {
    background-color: #2b2b2b;
}
catalog::-webkit-scrollbar-thumb {
    background-color: #ff8a48;
    background-image: linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .25) 50%,
                      rgba(255, 255, 255, .25) 75%,
                      transparent 75%,
                      transparent);
    border: 2px solid #2b2b2b;
    border-radius: 20px;
}
container {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 94.4%;
    height: 100%;
}
grid {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 230px fit-content 230px;
}
head {
    background-image: url(photos/for-header.jpg);
    display: grid;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    align-items: center;
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}
article {
    display: grid;
    box-sizing: border-box;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background: white;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 70px 0;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    gap: 5%;
}
item {
    display: flex;
    flex-wrap: wrap;
    width: 47.5%;
    margin: 15px 0;
}
name {
    display: block;
    font-family: "Bitter";
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 15px 0 0 0;
    font-size: 35px;
    padding: 15px 30px;
}
info {
    display: block;
    text-align: center;
    width: 100%;
    height: fit-content;
    font-size: 25px;
    font-family: 'Architun';
    color: #ff8a48;
}
photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}
first {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
second {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
third {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
fourth {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
fifth {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
sixth {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
seventh {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
eighth {
    width: 90%;
    height: 405px;
    display: block;
    background-image: url(photos/8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 20% / 20% 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
bottom {
    background-image: url(photos/for-header.jpg);
    display: grid;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    align-items: center;
    padding: 15px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}
@media (max-width: 1024.5px) {
    main {
        gap: 0%;
    }
    item {
        width: 100%;
    }
}